*{
    background-color: rgb(240, 214, 180);
}
.historia{
    font-size: 38px;
}
.luchador{
    font-size: 30px;
}
.antuta{
font-size: 30px;
}
.macros{
font-size: 30px;
}
.ambelli{
font-size: 30px;
}
.machaii{
    font-size: 30px;
}
.acuario{
    font-size: 30px;
}
.temperatura{
    font-size: 30px;
}
.rojo{
    font-size: 22px;
    color: rgb(173, 28, 28);
}
.horas{
    font-size: 30px;
}